<% include ../partials/header %>


<div class="row">
  <h1>Welcome to the Add Feedback Page </h1> <br>
<div style="text-align: center; width: 100%; background-color: rgba(255, 255, 255, 0.8);text-align: center; margin-bottom: 10px;" >
         <form accept-charset="UTF-8" style="display: inline-block; width: 90%;" action="/addfeedback" method="post" >    
                <div class="item">
                  <label for="name">Name</label>
                    <input name="name" type="text" placeholder="Enter name",  pattern='[A-Za-z ]{1,32}' title="please only enter letters" />
                      <label for="comment">Comment</label>
                    <input name="comment" type="text" placeholder="Enter comment", required title="Please do not leave this blenk and enter text oly here" />
                  
<button class="button">Add</button>
          </div>
              </form>
    </div>
</div>
     
 <% include ../partials/footer %>