<% include ../partials/header %>

  <section id="showcase">
    <div class="container">
      <h2> Welcome to Italian Cheese Prestige<br>
      <span>The right place for choosing your Italian cheese</span></h2>
    </div>
  </section>
  <section id="boxes">
    <div class="container">
      <h3>Products</h3>
    <div class="box">
      <img src="parmiggiano.jpg" alt="parmiggiano">
      <h4>Parmiggiano Reggiano</h4>
      <p>36 months mature</p>
    </div>
   <div class="box">
      <img src="pecorinoromano.jpg" class="bigsize" alt="pecorino">
      <h4>Pecorino Romano</h4>
      <p>Very tasty Sheep Cheese from Rome. Very good on pasta!</p>
   </div>
      <div class="box">
      <img src="mozzarella.jpg" alt="">
      <h4>Fresh Mozzarella</h4>
      <p>Delicious and delicate taste from South Italy</p>
  </div>
   
    </div>
    <br>
     <a href="/products" class="button">View more</a>
    <hr>
    
  </section>

  <section id="about">
    <div class="container">

      <h3>About Us</h3>
      <img src="/store.jpg" alt="About us" style="width:700px;height:500px;" >
      <p><b>Located in dublin city center and launched in 2018.
        We are an Italian store that stock up many italian cheese directly from Italy. <br><br>
        We are offering this delicious food for anyone who likes to good food</b>.  
        <br><br>
     <br><br>
      </p>
    </div>

    <hr>
</section>

    <section id="contact">
      <div class="container">

        <h3>Contact Us</h3>
             <div class="center">
                <p><b>Tel: </b> +353 123 4567 </p>
                <p><b>Email:</b> info@italiancheese.com </p>
                <p><b>Address: </b>123 O'Connell Street, Dublin 1, Ireland.</p>
                 <p><strong>Opening Hours:  </strong>Monday - Friday</p>
                    <p>10am-6pm</p>
                    <br>
                    <a href="/add" class="button">Contact Us Here</a>
                    <hr>
              </div>

            </div>
          </section>
          <br>
      
 <% include ../partials/footer %>