body {
    background-color: #9AC167;
    font-family: 'Source Sans Pro','arial', 'Helvetica', sans-serif;
    background-repeat:no-repeat;
    background-size:100% 100%;
    min-height:900px; /* we will remove this later */
    text-align:center;
    padding: 0;
    margin: 0;
}
.logche {
    width: 50%;
    height: 70%;
}  

.logo{
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.navhold{
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    float: center;
    margin-bottom: 10px;
    
}

.container {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
     overflow: hidden;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #6E9B34;
    color: black;
}

/* Add a color to the active/current link */
.topnav active {
    background-color: #4CAF50;
    color: purple;
}

#socialicon {
  font-size: 1.2rem;

}
#socialicon a{
  color: #fff;
}
#socialicon i{
  padding: .3em;
}
#socialicon i:hover{
  color: #ed480f;
  cursor: pointer;
}

hr{
  width: 90%;
  margin-top: 5%;
  opacity: .5;
}

h3{
  text-align: center;
  font-size: 2rem;
  color: white;
}
h4{
  font-size: 1.2em;
}
/*showcase area*/
#showcase{
  min-height:350px;
  background: url('/milk.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  -webkit-filter: grayscale(30%); 
  filter: grayscale(30%);
}
#showcase .container h2{
  margin-top: 2.2em;
  font-size:2.8rem;
  font-weight: 900;
  line-height: 1em;
  display: block;
}
#showcase span{
  font-weight: 100;
  font-size: .6em;
}

/*boxes section*/
#boxes {
  margin-top: .5em;
}

#boxes .box{
  text-align: center;
  padding: .8em;
}

#boxes .box:hover{
  border: 3px solid #eadba0;

}
.box img{
  width: 14%;
}

.button{
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  background: #6E9B34;
  border: 3px solid white;
  display: inline-block;
  color: #fff;
  padding: 15px 32px;
}
.button:hover{
  background: #2D4F00;
  font-weight: bold;
}

/* About section */
#about {
  margin: 0;

}
#about p{
    text-align: right;
}

#about img{
  width: 38%;
  padding-top: .8em;
  float: left;

}
/*contact section*/
#contact {
  margin: 0;
}

#contact .left p{
    float: center;
    text-align: center;
    width: 50%;
    padding: .3em;
  }

/*Back to top */
#backtop {
  text-align: center;
}
#backtop a{
  color:white;
  text-decoration: none;
  text-transform:uppercase;
  font-size: 16px;
  padding: 1rem 0rem;
}

/*footer area*/
footer{
  padding: 15px;
  background-color: #6E9B34;
  color: #ffffff;
  margin-top: 20px;
  text-align: center;
}

/* responsive design*/
@media (min-width: 650px){
  body{
    font-size: 1.2rem;
  }


  #socialicon{
    flex: 1;
    text-align: right;

  }

  .logche{

    width: 40%;
  }

  #boxes .box{
    float: left;
    width: 30%;
   
  }
  
  .box img{
    width: 24%;
  }
  
  #about img{
    width: 38%;
    height: 38%;
    padding-top: 1.8em;
    padding-right: .5em;

  }
  
  #about p{
    float: right;
    width: 62%;
    text-align: left;
    padding-left: .8em;

  }
}
  
  /* Style for products page */


.grid-container {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
 /* background-color: #2196F3;  Comment this out later to remove the background color when not needed */
  padding: 10px;
}


.item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px 0;
 
}


#itemsContainer {
    width: 100%;
    text-align: center;
    
    
}

.itemtitle {
   display: block;
    color: #4CAF50;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 25px
    
}


.itemp {
   display: block;
    color: #4CAF50;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
    font-size: 16px
    
}



.pimage {
    width: 30%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

#itemsContainer h2 {
   display: block;
    color: #555;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
    
}


#itemsContainer h1 {
   display: block;
    color: #555;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
    
}

.itemhols {
   margin: 10px;
    
    display: inline-block;
    width: 100%;
    
    min-height: 30px;
  
   background-color: #ffffff;
}

.row {
    display: -webkit-flex;
    display: inline-block;
    width: 100%;
}



/* End Style for products page */


/* Style for form */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.formHold {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width:90%;
}

/* End Style for form */

